.partner-section {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}

.partner-title {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.5;
}

.partner-title h6 {
    font-size: 16px;
    font-weight: 700;
    color: #FF9800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.partner-title h2 {
    font-size: 38px;
    color: #0b0b31;
    margin: 10px 0 0 0;
    font-weight: 900;
}

.partner-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
}

.partner-list .partner-item {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.partner-list .partner-item a {
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding: 0px 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .partner-title {
        margin-bottom: 30px;
    }
    .partner-list .partner-item {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .partner-list .partner-item a {
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 767px) {
    .partner-title {
        margin-bottom: 30px;
    }
    .partner-list .partner-item {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .partner-list .partner-item a {
        padding: 0px 0px;
    }
}