.footer-subscribe-wrapper {
    position: relative;
    z-index: 1;
    background-color: #1c1c23;
}

.subscribe-area {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;
    border-bottom: 1px solid #777;
}

.subscribe-content {
    text-align: left;
}

.subscribe-content h2 {
    color: #fff;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
}

.subscribe-content .sub-title {
    color: #fff;
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.newsletter-form {
    max-width: 580px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-form .input-newsletter {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: none;
    height: 50px;
    padding-left: 25px;
    border-radius: 5px;
    outline: 0;
    color: #0b0b31;
}

.newsletter-form button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #7b68ee;
    color: #ffffff;
    border: none;
    height: 50px;
    padding: 0 30px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.newsletter-form button:hover {
    background-color: #FF9800;
    color: #ffffff;
}

.newsletter-form #validator-newsletter {
    color: red;
    position: relative;
    top: 10px;
}

@media only screen and (max-width: 767px) {
    .subscribe-content {
        margin-bottom: 25px;
    }
    .subscribe-content h2 {
        margin-bottom: 12px;
    }
    .subscribe-content .sub-title {
        font-size: 14px;
        font-weight: 500;
    }
    .subscribe-content .sub-title {
        font-size: 14px;
        font-weight: 500;
    }
}